

:root {
    --fondo: rgb(31, 31, 31);
    --titulo: rgb(238, 45, 78);
    --secundario: rgb(0, 255, 255);
    --blanco: #FFF;
    --negro: #000;

    --f_titulo: 'Bebas Neue', cursive;
    --f_parrafo: 'Merriweather', serif;
    --f_foooter: 'Quicksand', sans-serif;

    --html: rgb(223, 71, 24);
    --css: rgb(0, 195, 221);

}

/* Globales */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* Se agrega aparte --> 1rem == 10px */
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    background-color: var(--fondo);
    font-family: Arial, Helvetica, sans-serif; /*Recomendado en todo*/
    font-size: 1.8rem;
    line-height: 1.5; /*Interlineado*/
}
p {
    font-family: var(--f_parrafo);
    color: var(--blanco);
    line-height: 1.2;
}
a {
    text-decoration: none; /*Recomendado en todo (elimina la linea de los enlaces)*/
}

img {
    max-width: 100%;
}
h1, h2, h3 {
    text-align: center; /*centrar titulos*/
    color: var(--titulo);
    font-family: var(--f_titulo);
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.8rem;
}

/* fin globales */

.contenido {
    max-width: 120rem; /*tamaño del contenido principal*/
    width: 90%; /*para que el texto no toque las orillas en celulares*/
    margin: 0 auto; /*permite centrar el contenido*/
}

.encabezado {
    background-color: transparent;
}
.navegacion {
    text-align: center;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between; /*un elemneto a la der y otro a izq, flex*/
        align-items: center; /*alinea en eje Y, flex*/
    }
    .navegacion {
        display: flex;
        gap: 2rem;
    } 
}
.logo {
    font-family: var(--f_titulo);
    font-size: 5rem;
    margin: 0;
}
.navegacion__enlace {
    display: block; /*cintenido arriba hacia abajo*/
    text-align: center;
    font-size: 1.8rem;
    color: var(--secundario);
    margin-left: 1rem;
}
.header {
    background-image: url(../img/header.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.header__contenedor {
    background-color: rgba(0, 0, 0, 0.582);
    height: 100%; /*que lo escuro cubra toda la imagen*/
    width: 100%;
    align-items: center;
    text-align: center; /*centar imagen*/
}
.header__img {
    text-align: center;
    width: 60%;
    margin-top: 8rem;
    max-height: 320px;
    max-width: 320px;
}
.header__titulo {
    margin: 15%;
    width: 70%;
    border: 1px solid var(--secundario);
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .header__contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center; /*centrar imagen*/
    }
    .header__img {
        grid-column: 1 / 2;
        max-width: 90%;
        max-height: 90%;
        width: 75%;
        margin-top: 0rem;
    }
    .header__titulo {
        grid-column: 2/ 3;
        text-align: center;
        font-size: 4.5rem;
        margin: 0rem;
        padding: 2rem;

    }
}
@media (min-width: 1024px) {
    .header__titulo {
        font-size: 6rem;
    }
}
/* Servicios */
.servicios{
    margin-bottom: 8rem;
}
@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.servicio {
    text-align: center;
    background-color: var(--negro);
    width: 90%;
    height: auto;
    border-radius: 1rem;
    padding: 1.5rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--secundario);
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .servicio {
        padding-top: 0rem;
        margin-bottom: 0rem;
    }
}



/* Portafolio / Protectos */
@media (min-width: 768px) {
    .proyectos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}
.proyecto__web {
    background-color: var(--negro);
    border-radius: 1rem;
    padding: 1.5rem;
    padding-top: 0rem;
    border-bottom: 1px solid var(--secundario);
}

.tecnologias {
    width: 100%;
    background-color: transparent;
}
.tecnologia {
    text-align: left;
    padding: 0 1rem;
    color: var(--blanco);
}
.boton {
    display: block;
    background-color: var(--fondo);
    color: var(--titulo);
    font-weight: 700;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 1rem;
}
.html_1 {
    width: 61.1%;
    background-color: var(--html);
}
.css_1 {
    width: 38.9%;
    background-color: var(--css);
}

.html_2 {
    width: 74.8%;
    background-color: var(--html);
}
.css_2 {
    width: 25.2%;
    background-color: var(--css);
}


/* Footer */
.footer {
    background-color: var(--negro);
    padding: 3rem 0 1rem 0;
    margin-top: 4rem;
}
.centro {
    text-align: center;
}
.derechos {
    font-family: var(--f_foooter);
}
.derechos__bold {
    font-weight: bold;
}
.logo__footer {
    font-size: 6rem;
}